[package]
name = "expenses"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
chrono = "0.4.42"
clap = { version = "4.5.51", features = ["derive"] }
color-eyre = "0.6.5"
rusqlite = { version = "0.37.0", features = ["chrono"] }
tabled = "0.20.0"
